<main class="TodoPageMain">
  <h1 class="TodoPage-title">My To-do List</h1>
  <section class="AddTodo">
    <%# <input class="AddTodo-text" type="text" placeholder="What's next?">
    <input class="AddTodo-date" type="date">
    <input class="AddTodo-button" type="button" value="Add"> %>
    <form class="AddTodo" action="/todo_manager" accept-charset="UTF-8" method="post">
      <input id="todo_todo_text" class="Form-input AddTodo-text" placeholder="What's next" type="text" name="todo_text">
      <input id="todo_due_date" class="AddTodo-date" value="2020-03-31" type="date" name="due_date">
      <input class="Form-submitButton AddTodo-button" type="submit" name="commit" value="Add">
    </form>
  </section>

  <%= render partial: "todo-section", locals: {
    section_title: "Overdue",
    todos: Todo.overdue,
    show_due_date: true
  }%>
  <%= render partial: "todo-section", locals: {
    section_title: "Due today",
    todos: Todo.due_today,
    show_due_date: false
  }%>
  <%= render partial: "todo-section", locals: {
    section_title: "Due later",
    todos: Todo.due_later,
    show_due_date: true
  }%>
</main>
